.container{
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2); 
    background: white;
}
.container>header .image{
    width: 40%;
    height: 100%;
    left: 35%;
    position: absolute;
}
.min-header{
    color: rgb(105, 105, 199);
    text-shadow: 2px 2px 1px white;
    font-size: 20px;
    left: 30%;
    bottom: 5px;
    text-transform: uppercase;
}
.container>header .image1{
    width: 150px;
    height: 150px;  
    border-radius: 150px;
    position: absolute;
    left: 4%;
    margin: 2px 0;
    top: 1%;
}   

.container>header {
    position: fixed;
    height: 150px;
    background-color: #97b1c8;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}
body{
    padding: 0px;
    margin: 0px;
}
.wrapper {
    width:100%;
    box-shadow:0px 1px 3px rgba(135, 75, 75, 0.2); 
    background: rgb(112, 163, 169);
}
.clearfix:after {
    display:block;
    clear:both;          
}
.nav{
    line-height: 40px;
    background-color: red;
    font-variant: small-caps;
    color: rgb(218, 210, 210);
    text-align: center;
}
.article {
    position: absolute;
    top: 250px;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

h1 {
    font-size: 20px;
    padding: 100px;
    
}
h2 {
    font-size: 25px;
    margin: 50px;
}
h3 {
    font-size: 30px;
    margin: 50px;
}
.wh{
    margin: 70px;
}
aside{
    min-height: 1000px;
    width: 25%;
    background-color: white;
    float: right;
}
.video{
    margin-top: 70px;
}
.aside {
    position: absolute;
    top: 250px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    right: 0;
}

footer {
    width: 100%;
    clear: both;
    background: aqua;
    color: seagreen;
}
.rightfooter{
        float: left;
        width: 400px;
        margin-bottom: 25px;
}
.leftfooter{
    float: right;
    width: 400px;
}
iframe[name=page]{
    width: 100%;
    min-height: 400px;
}
ul.vmenu{
    list-style-type: none;
    padding: 0;
    margin: 5px;
    box-shadow: 0 0 5px orangered;
    border-radius: 10px;
}
ul.vmenu>li{
    border-bottom: 1px dotted orangered;
}
ul.vmenu>li>a{
   text-decoration: none;
   line-height: 30px;
   font-variant: small-caps;
   color: orangered;
   padding-left: 20px; 
   font-size: large;
   
   background: url(images/bullet-orange.png) no-repeat left center;
}
ul.vmenu>li>a:hover{
    text-decoration: underline;
    color: white;
    display: block;
    background: url(images/bullet-orange.png) no-repeat left center;
    background-color: orange;
}
.menu {
    width: 1000px;
    margin:0px auto;
    background: brown;
    height: 50px;
    margin-top: 150px;
}
.menu li {
    margin:0px;
    list-style:none;
}

.menu a {
    transition:all linear 0.15s;
    color: black;
    text-decoration:none;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
} 
.menu > ul > li {
    display:inline-block;
    position:relative;
    font-size:19px;
}
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    color: white;
}
nav ul li a:hover{
    color: yellow;
}
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;

}
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left: -50px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
}
.sub-menu li {
    display:block;
    font-size:16px;
}
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
.min-header{
    margin-left: 250px ;
    clear: both;
    padding-top: 30px;
}